<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoyv.desktop.ssh">

    <application>
        <activity
            android:name="com.xiaoyv.ssh.terminal.TerminalActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.xiaoyv.ssh.add.AddSshActivity"/>
        <activity android:name="com.xiaoyv.ssh.sftp.SftpActivity"/>
    </application>
</manifest>