<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoyv.ssh">

    <application>
        <activity
            android:name=".terminal.view.TerminalActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".add.AddSshActivity"/>
    </application>
</manifest>