<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaoyv.desktop.librdp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:resizeableActivity="true"
        tools:targetApi="n">

        <!-- 创建快捷方式的活动 -->

        <!-- 建议您使用活动别名来提供“ CREATE_SHORTCUT” -->
        <!-- 目的过滤器。这为您提供了一种设置文本的方法（以及可选的 -->
        <!-- 图标），将在启动器的创建快捷方式用户界面中看到该图标。 -->
<!--        <activity-alias-->
<!--            android:name=".presentation.CreateShortcuts"-->
<!--            android:label="@string/title_create_shortcut"-->
<!--            android:targetActivity="com.freerdp.freerdpcore.presentation.ShortcutsActivity">-->

<!--            &lt;!&ndash; 此意图过滤器允许您在启动器中创建快捷方式。&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.CREATE_SHORTCUT" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </activity-alias>-->
    </application>
</manifest>