<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaoyv.desktop">

    <application
        android:name=".DeskApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemoteApp.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name="com.xiaoyv.main.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--会话请求处理程序活动-用于搜索并在内部启动会话-->
        <!--实际上应在FreeRDPCore lib中定义，但Android清单合并将-->
        <!--将libs清单附加到应用程式清单，因此无法使用别名-->
        <activity
            android:name="com.freerdp.freerdpcore.services.SessionRequestHandlerActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".services.SessionRequestHandlerActivity"
            android:targetActivity="com.freerdp.freerdpcore.services.SessionRequestHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity-alias>
    </application>

</manifest>