<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoyv.rdp">

    <application>
        <activity
            android:name=".screen.view.ScreenActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|density|screenLayout|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/UiApp.NoActionBar.RdpScreen"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="freerdp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".add.AddRdpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".setting.RdpSettingActivity" />
        <activity android:name=".setting.single.RdpSingleSettingActivity" />
    </application>
</manifest>